.form {
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  width: 30%;
  background-color: white;
}

.formTitle {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

label {
  font-size: 1.1rem;
  font-weight: 600;
  margin-top: 1rem;
}

input {
  font-size: 1.1rem;
  padding: 0.5rem 0.5rem;
  margin-top: 0.5rem;
}

input:focus {
  border: 1px solid #349f8e;
  outline: none;
}

.actions {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.addBtn {
  background-color: #349f8e;
  padding: 0.6rem 1rem;
  text-decoration: none;
  color: white;
  font-weight: 500;
  border: none;
  font-size: 1rem;
}

.discardChanges {
  display: block;
  padding: 0.6rem 1rem;
  text-decoration: none;
  color: white;
  background-color: #fd384d;
}

@media only screen and (max-width: 596px) {
  .form {
    width: 90%;
  }
}
