* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato";
  line-height: 1;
  white-space: nowrap;
}

body {
  background-color: #f0f0f3;
}

body::-webkit-scrollbar {
  display: none;
}

button {
  cursor: pointer;
}
